<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lion.config.domain.mapper.ConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lion.config.domain.model.Config">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="alias" property="alias" />
        <result column="description" property="description" />
        <result column="status" property="status" />
        <result column="creator" property="creator" />
        <result column="create_date" property="createDate" />
        <result column="modifier" property="modifier" />
        <result column="update_date" property="updateDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, alias, description, status, creator, create_date, modifier, update_date
    </sql>

</mapper>
