<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lion.systemmgr.auth.domain.mapper.UserAccountErrorLoginMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lion.systemmgr.auth.domain.model.UserAccountErrorLogin">
        <id column="ID" property="id"/>
        <result column="ACCOUNT" property="account"/>
        <result column="IP" property="ip"/>
        <result column="ERROR_DATE" property="errorDate"/>
        <result column="ERROR_TIMES" property="errorTimes"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, ACCOUNT, IP, ERROR_DATE, ERROR_TIMES
    </sql>

    <select id="queryAllLockUsers" resultType="java.util.Map">
        SELECT
        a.id AS id,
        a.account AS account,
        a.ip AS ip,
        a.ERROR_DATE AS errorDate,
        b.china_name AS chinaName
        FROM
        sys_user_account_error_login a
        LEFT JOIN sys_user b ON a.account = b.account
        WHERE 1=1
        <if test="account!='' and account!=null">
            AND b.account LIKE CONCAT('%', #{account}, '%')
        </if>
        <if test="chinaName!='' and chinaName!=null">
            AND b.china_name LIKE CONCAT('%', #{chinaName}, '%')
        </if>
    </select>

</mapper>
